.container {
  text-align: center;
}

.grid-box {
  width: 720px;
  margin: auto;
  color: white;
  display: grid;
  flex-wrap: nowrap;
  grid-template-columns: repeat(8, 1fr);
}

.box {
  background-color: cyan;
  margin: 1px;
  line-height: 75px;
  font-size: 30px;
}

.even {
  background-color: green;
}

.odd {
  background-color: orange;
}

.prime {
  background-color: red;
}
